---
import Layout from "../../layouts/layout.astro";
import { App } from "../../components/app";

import i18n, { i18nInit } from "../../translations/i18n";
import en from "../../translations/en.json";
import fr from "../../translations/fr.json";
import { CategoryEnum } from "../../api/enum/category.enum";

const resources = {
  en: {
    translation: en,
  },
  fr: {
    translation: fr,
  },
};

i18nInit({ resources });

const { experienceId } = Astro.params;

export async function getStaticPaths() {
  const experienceIds = ["0", "1", "2"];

  return experienceIds.map((id) => ({
    params: { experienceId: id },
  }));
}
---

<div>
  <Layout title={i18n.t("title")}>
    <App
      category={CategoryEnum.EXPERIENCE}
      entityId={experienceId}
      client:load
    />
  </Layout>
</div>
